* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --primary-color: #b13a1c;
    --highlight: #ff0000;
    --background-color: #040109;
    --light-color: #EBD6FB;
}

body {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo {
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    animation: achicarTexto 0.4s ease-in-out forwards;
}

.logo:hover {
    font-weight: bold;
    color: white;
    animation: crecerTexto 0.4s ease-in-out forwards;
}

@keyframes crecerTexto {
  from {
    font-size: 64px;
  }
  to {
    font-size: 82px;
  }
}

@keyframes achicarTexto {
  from {
    font-size: 82px;
  }
  to {
    font-size: 64px;
  }
}

.gif {
    width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    animation: aparecer 1s ease-in-out forwards;
}


.boton{
    margin-top: 30px;
    padding: 12px 28px;
    font-size: 18px;
    color: white;
    background: transparent;
    border: 3px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 20px white, 0 0 40px white;
}

.boton:hover {
    background: white;
    color: black;
    transform: scale(1.08);
    box-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
}


@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.start-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* ESTRELLAS */

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.star {
  position: absolute;
  background-color: var(--light-color);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 2s infinite;
}

.star:nth-child(1) { top: 10%; left: 20%; animation-delay: 0.2s; }
.star:nth-child(2) { top: 40%; left: 70%; animation-delay: 0.5s; }
.star:nth-child(3) { top: 80%; left: 50%; animation-delay: 0.7s; }
.star:nth-child(4) { top: 30%; left: 90%; animation-delay: 1s; }
.star:nth-child(5) { top: 60%; left: 10%; animation-delay: 1.2s; }
.star:nth-child(6) { top: 75%; left: 80%; animation-delay: 1.5s; }
.star:nth-child(7) { top: 20%; left: 40%; animation-delay: 1.8s; }
.star:nth-child(8) { top: 50%; left: 30%; animation-delay: 2s; }
.star:nth-child(9) { top: 90%; left: 60%; animation-delay: 2.3s; }
.star:nth-child(10) { top: 15%; left: 75%; animation-delay: 2.6s; }
.star:nth-child(11) { top: 5%; left: 25%; animation-delay: 0.2s; }
.star:nth-child(12) { top: 25%; left: 75%; animation-delay: 0.5s; }
.star:nth-child(13) { top: 35%; left: 55%; animation-delay: 0.7s; }
.star:nth-child(14) { top: 45%; left: 95%; animation-delay: 1s; }
.star:nth-child(15) { top: 55%; left: 15%; animation-delay: 1.2s; }
.star:nth-child(16) { top: 65%; left: 85%; animation-delay: 1.5s; }
.star:nth-child(17) { top: 70%; left: 45%; animation-delay: 1.8s; }
.star:nth-child(18) { top: 85%; left: 35%; animation-delay: 2s; }
.star:nth-child(19) { top: 95%; left: 65%; animation-delay: 2.3s; }
.star:nth-child(20) { top: 95%; left: 70%; animation-delay: 2.6s; }

@keyframes twinkle {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* Prueba de animacion */

.interior-cont {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: white;
    text-align: center;
}

.zoom-container {
    transition: transform 2s ease-in-out;
}

.zoom-in {
    transform: scale(5) translateY(-20%);
}