:root {
    --primary-color: #bc0802;
    --background-color: #040109;
    --light-color: #EBD6FB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

nav {
    background-color: var(--primary-color);
}